 // @import "bootstrap-sprockets";
 @import "bootstrap";
@import "skills.scss";
 .container-fluid{
   margin-right: 10%;
   margin-left: 10%;
   text-align: center;
 }

 .tab{
   padding-left: 10%;
   padding-left: 10%;
 }
